{% extends 'theme/base.html' %}
{% block title %}Tag-Mode{% endblock %} 
{% block content %}
<div class="flex w-full h-full flex-col justify-center items-center gap-12 text-6xl">
  <div>Does this mean anything?</div>
  <div>
    {% for emoji in emoji %} <span class="text-7xl px-4">{{emoji}}</span> {% endfor %}
  </div>
  <div>
      {% for emoji in emoji %} <input type="text" class="invisible" name="tags_{{forloop.counter0}}" id="tags_{{forloop.counter0}}" />  {% endfor %}
  </div>
  <div class="text-lg">You can tag the emoji individually or select a sequence and add tags to that</div>
  <div id="range_text" class="text-lg">Select a function below</div>
  <div class="flex flex-row gap-8 justify-center items-center">
    <button class="bg-green-500 hover:bg-greeen-700 text-white text-xl font-bold py-2 px-4 rounded" id="tag_single">Tag single</button>
    <button class="bg-green-500 hover:bg-greeen-700 text-white text-xl font-bold py-2 px-4 rounded" id="select_range">Select range</button>
    </div>
    <div>
    <textarea id="sequence_tags" class="invisible"></textarea> 
    </div>
    <div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white text-2xl font-bold py-2 px-4 rounded" id="submit">Submit</button>
    </div>
</div>
{% endblock %} 
{% block scripts %}
<script>
  window.onload = () => {
    document.onclick = (e) => {
      e.stopPropagation();
      e.preventDefault();
    };
    const select_range = document.getElementById("select_range");
    const range_text = document.getElementById("range_text");
    const submit = document.getElementById("submit");
    const emoji = [{% for emoji in emoji %} "{{emoji.value}}", {% endfor %}];
    const emoji_spans = document.querySelectorAll("span");
    const tag_single = document.getElementById("tag_single");

    const sequence_tags = document.getElementById("sequence_tags");
    const tags = document.querySelectorAll("input");

    for (let i = 0; i < emoji_spans.length; i++) {
        emoji_spans[i].onclick = (e) => {
            const current_text = range_text.innerHTML;
            if (current_text=== "Select the first emoji in the sequence"){
                localStorage.setItem("sequence_start", i);
                range_text.textContent = "Select the last emoji in the sequence"; 
        }
        else if (current_text === "Select the last emoji in the sequence"){
            localStorage.setItem("sequence_end", i);
            range_text.innerHTML = "Write the tags for the selected sequence of emojis in the large input below";
            select_range.classList.toggle("bg-green-300");
            localStorage.setItem("is_selecting", false);
            for (let j = localStorage.getItem("sequence_start"); j <= localStorage.getItem("sequence_end"); j++){
                const input = emoji_spans[j];
                input.classList.toggle("bg-green-500")
            }
          sequence_tags.classList.toggle("invisible");

        }
      };
    }
    
    select_range.onclick = (e) => {
      if (localStorage.getItem("state") == 'tag'){
        for (tag of tags){
          tag.classList.toggle("invisible");
          tag_single.classList.toggle("bg-green-300");
        }
      }
        e.target.classList.toggle("bg-green-300");
        const toggleOn = localStorage.getItem("state") !== 'selecting';
        localStorage.setItem("state", !toggleOn? 'selecting' : 'none' );
        if (!toggleOn){
            range_text.textContent = "Select the first emoji in the sequence"; 
        }
        else{
            range_text.textContent = "Select a function below";
        }      
    };
    tag_single.onclick = (e) => {
      if (localStorage.getItem("state") == 'selecting'){
          sequence_tags.classList.toggle("invisible");
          select_range.classList.toggle("bg-green-300");
      }
        e.target.classList.toggle("bg-green-300");
        const toggleOn = localStorage.getItem("state") !== 'tag';
        localStorage.setItem("state", !toggleOn? 'tag' : 'none' );
        for (tag of tags){
            tag.classList.toggle("invisible");
        }
        if (!toggleOn){
            range_text.textContent = "Type some tags";
        }
        else{
          range_text.textContent = "Select a function below";
      }        
    };
   
  };
</script>
{% endblock %}
